fastapi==0.115.0
uvicorn==0.30.6
python-dotenv==1.0.1
sqlalchemy==2.0.35
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.9
openai==1.51.0
SpeechRecognition==3.10.4
pydub==0.25.1
jinja2==3.1.4
aiofiles==24.1.0
bcrypt==4.2.0
httpx==0.27.2
